/*👇 Navbar section */
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 1rem 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 1000;
  animation: slideDown 0.6s ease-in-out;
}

/* Simple slide-down animation */
@keyframes slideDown {
  from {
    transform: translateY(-100%);
    opacity: 0;
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.middle-logo {
  display: flex;
  align-items: baseline;
  gap: 1rem;
}

.middle-logo h1 {
  font-family: MyBold, sans-serif;
  font-size: 1.8rem;
  color: #000;
}

.middle-logo h4 {
  font-family: DemiBold, sans-serif;
  color: #333;
  font-size: 1rem;
}

.navigater {
  display: flex;
  align-items: center;
  gap: 2rem;
  font-family: DemiBold, sans-serif;
  font-size: 1.1rem;
  text-transform: uppercase;
  font-weight: 100;
}

.navigater a {
  position: relative;
  text-decoration: none;
}

.navigater a::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0;
  height: 2px;
  background-color: #523122;
  transition: all 0.4s ease;
  transform: translateX(-50%);
}

.navigater a:hover::after {
  width: 100%;
}




/*responsive */
@media (max-width: 768px) {

  .navbar {
    flex-direction: column;
    align-items: flex-start;
    align-items: center;
    padding: 1rem;
  }

  .middle-logo {
    justify-content: center;
    width: 100%;
  }

  .navigater {
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    gap: .5rem;
  }
}

@media (max-width: 480px) {
  .middle-logo h1 {
    font-size: .7rem;
  }

  .middle-logo h4 {
    display: none;
  }

  .navigater {
    gap: 0.5rem;
  }

  .navigater .text {
    width: 100%;
    padding: 0.6rem 1rem;
  }

  .navigater .text::after{
    display: none;
  }
}