
.message-content {
    background-color: #7f3b2d;
    color: #fff8f0;
    min-height: 100dvh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 20;
}

.message-content .msg-wrapper {
    font-size: clamp(3rem, 8vw, 8.5rem);
    /* Covers 5xl to 2xl:8.5rem */
    font-weight: bold;
    text-transform: uppercase;
    line-height: 9vw;
    letter-spacing: -0.35vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3.5rem;
    /* default gap-14, md:gap-24 is 6rem */
}

@media (min-width: 768px) {
    .message-content .msg-wrapper {
        font-size: 6rem;
        gap: 6rem;
    }
}

@media (min-width: 1536px) {
    .message-content .msg-wrapper {
        font-size: 8.5rem;
    }
}

.message-content .msg-wrapper h1:first-of-type {
    max-width: 20rem;
    /* default max-w-xs */
    text-align: center;
    color: #faeade10;
}

@media (min-width: 768px) {
    .message-content .msg-wrapper h1:first-of-type {
        max-width: 42rem;
        /* md:max-w-2xl */
    }
}

@media (min-width: 1536px) {
    .message-content .msg-wrapper h1:first-of-type {
        max-width: 56rem;
        /* 2xl:max-w-4xl */
    }
}

.message-content .msg-wrapper h1:last-of-type {
    max-width: 20rem;
    text-align: center;
    color: #faeade10;
}

@media (min-width: 768px) {
    .message-content .msg-wrapper h1:last-of-type {
        max-width: 56rem;
        /* md:max-w-4xl */
    }
}

@media (min-width: 1536px) {
    .message-content .msg-wrapper h1:last-of-type {
        max-width: 80rem;
        /* 2xl:max-w-7xl */
    }
}

.message-content p {
    text-align: center;
    font-family: var(--font-paragraph);
}

.message-content h1,
.message-content h2 {
    line-height: 1;
}

.message-content .msg-text-scroll {
    transform: rotate(3deg) translateY(-1.25rem);
    /* default -translate-y-5 */
    position: absolute;
    z-index: 10;
    border: 0.5vw solid #7f3b2d;
}

@media (min-width: 1536px) {
    .message-content .msg-text-scroll {
        transform: rotate(3deg) translateY(1.25rem);
        /* 2xl:translate-y-5 */
    }
}

/* --- FLAVOR SECTION --- */
.flavor-section {
    min-height: 100dvh;
    background-color: #fff8f0;
}

.flavor-section .flavor-text-scroll {
    transform: rotate(-3deg) translateY(0);
    position: absolute;
    z-index: 10;
    border: 0.5vw solid #fff8f0;
}

@media (min-width: 768px) {
    .flavor-section .flavor-text-scroll {
        transform: rotate(-3deg) translateY(1.25rem);
        /* md:translate-y-5 */
    }
}

.flavor-section .first-text-split h1 {
    text-align: left;
    color: #2d160f;
    /* text-dark-brown */
}

@media (min-width: 768px) {
    .flavor-section .first-text-split h1 {
        text-align: center;
    }
}

.flavor-section .second-text-split h1 {
    text-align: left;
}

@media (min-width: 768px) {
    .flavor-section .second-text-split h1 {
        text-align: center;
    }
}

.flavor-section .slider-wrapper {
    height: auto;
    min-height: 100dvh;
    width: 100%;
    margin-top: 0;
}

@media (min-width: 768px) {
    .flavor-section .slider-wrapper {
        min-height: fit-content;
        margin-top: 5rem;
    }
}

@media (min-width: 1280px) {
    .flavor-section .slider-wrapper {
        margin-top: 0;
    }
}

.flavor-section .slider-wrapper .flavors {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.75rem;
    /* gap-7 */

    flex-wrap: nowrap;
}

@media (min-width: 768px) {
    .flavor-section .slider-wrapper .flavors {
        flex-direction: row;
        gap: 6rem;
        /* md:gap-24 */
    }
}

@media (min-width: 1024px) {
    .flavor-section .slider-wrapper .flavors {
        gap: 13rem;
        /* lg:gap-52 */
    }
}

@media (min-width: 1536px) {
    .flavor-section .slider-wrapper .flavors {
        gap: 18rem;
        /* 2xl:gap-72 */
    }
}

.flavor-section .slider-wrapper .flavors .drinks {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
    height: 20rem;
}

@media (min-width: 768px) {
    .flavor-section .slider-wrapper .flavors .drinks {
        height: 100%;
    }
}

.flavor-section .slider-wrapper .flavors .elements {
    position: absolute;
    bottom: 2.5rem;
    /* bottom-10 */
    top: auto;

    @media (min-width: 768px) {
        top: 0;
        bottom: auto;
    }

    width: 100%;
}

.flavor-section .slider-wrapper .flavors h1 {
    position: absolute;
    bottom: 1.25rem;
    /* bottom-5 */
    left: 1.25rem;
    /* left-5 */
    color: #fff8f0;
    font-size: 1.875rem;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: -0.025em;
}

@media (min-width: 768px) {
    .flavor-section .slider-wrapper .flavors h1 {
        bottom: 2.5rem;
        left: 2.5rem;
        font-size: 3.75rem;
    }
}