@import url("https://fonts.googleapis.com/css2?family=Antonio:wght@100..700&display=swap");
@import "tailwindcss";

:root {
    --pri: #FAF7F3;
    --sec: #F0E4D3;
    --tri1: #DCC5B2;
    --tri2: #D9A299;
    --black: black;
    --white: white;
    --gray: gray;
}



@font-face {
    font-family: 'regular';
    src: url('./font/regular-webfont.woff2') format('woff2');
}

@font-face {
    font-family: 'DemiBold';
    src: url('./font/demibold.woff2') format('woff2');
}

@font-face {
    font-family: 'MyBold';
    src: url('./font/boldcn-webfont.woff2') format('woff2');
}

@font-face {
    font-family: 'loadFont';
    src: url('./font/download.woff') format('woff');
}


* {
    user-select: none;
}

html,
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: var(--pri);
    color: #523122;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scrollbar-width: none;
    -ms-overflow-style: none;
    font-family: "Antonio", sans-serif;
}

body::-webkit-scrollbar {
    display: none;
}
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;     /* Firefox */
}



/* utility classes */

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.col-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.abs-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.general-title {
    font-size: 3rem;
    /* text-5xl */
    font-weight: bold;
    text-transform: uppercase;
    line-height: 9vw;
    letter-spacing: -0.35vw;
}

@media (min-width: 768px) {
    .general-title {
        font-size: 6rem;
        /* md:text-8xl */
    }
}

@media (min-width: 1536px) {
    .general-title {
        font-size: 8.5rem;
        /* 2xl:text-[8.5rem] */
    }
}

@font-face {
    font-family: "ProximaNova, sans-serif";
    src: url("/fonts/ProximaNova-Regular.otf");
}





/*utility sliderwraper */

.slider-wrapper {
    height: auto;
    min-height: 100dvh;
    width: 100%;
    margin-top: 5rem;
}

@media (min-width: 768px) {
    .slider-wrapper {
        min-height: fit-content;
        margin-top: 5rem;
        /* md:mt-20 */
    }
}

@media (min-width: 1280px) {
    .slider-wrapper {
        margin-top: 0;
        /* xl:mt-0 */
    }
}

.slider-wrapper .flavors {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.75rem;
    flex-wrap: nowrap;
}

@media (min-width: 768px) {
    .slider-wrapper .flavors {
        flex-direction: row;
        gap: 6rem;
    }
}

@media (min-width: 1024px) {
    .slider-wrapper .flavors {
        gap: 13rem;
    }
}

@media (min-width: 1536px) {
    .slider-wrapper .flavors {
        gap: 18rem;
    }
}

.slider-wrapper .flavors .drinks {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
    height: 25rem;
}

@media (min-width: 768px) {
    .slider-wrapper .flavors .drinks {
        height: 100%;
    }
}

.slider-wrapper .flavors .elements {
    position: absolute;
    bottom: 2.5rem;
    width: 100%;
    transition: all ease 0.5s;
}

.slider-wrapper .flavors .elements:hover{
  scale: 1.30;
}


@media (min-width: 768px) {
    .slider-wrapper .flavors .elements {
        top: 0;
        bottom: auto;
    }
}

.slider-wrapper .flavors h1 {
    position: absolute;
    bottom: 1.5rem;
    left: 1.25rem;
    color: #fff8f0;
    font-size: 2.55rem;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: -0.025em;
}

@media (min-width: 768px) {
    .slider-wrapper .flavors h1 {
        bottom: 2.5rem;
        left: 2.5rem;
        font-size: 3.75rem;
    }
}

